body{
  background-color: #f2f2f2;
  font-family: 'Supermercado One', cursive;
}
#title{
  text-align: center;
  margin-top: 50px;
}
.dot1 {
  height: 30px;
  width: 30px;
  background-color: #C4DDF2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
  -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: #8FB6D9;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
  -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888;
}

.dot3 {
  height: 70px;
  width: 70px;
  background-color: #739FD9;
  border-radius: 60px;
  width: 450px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 55px;
  color: #f2f2f2;
  padding: 5px;
  -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888;
}

.bottom {
  position: relative;
  width: auto;
  height: auto;
}
.left {
  text-align: center;
  position: absolute;
  left: auto;
  margin-left: 150px;
  margin-top: 70px;
  width: 20%;
  height: 430px;
  background-color: #f2f2f2;
  border-radius: 50px;
  border: 6px solid #9298BA;
  padding: 15px;
}


.butt {
  border:none;
  text-align: center;
  display: inline-block;
  font-size: 45px;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  font-family: 'Supermercado One', cursive;
  color: #f2f2f2;
  margin: 15px;

}

.butt1 {
  background-color: #8FB6D9;
  -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888;
}
.butt1:hover {
  -moz-box-shadow: inset 6px 6px 5px #888;
  -webkit-box-shadow: inset 6px 6px 5px #888;
  box-shadow: inset 6px 6px 5px #888;
}

.butt2 {
  background-color: #739FD9;
  -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888;
}

.butt2:hover {
  -moz-box-shadow: inset 6px 6px 5px #888;
  -webkit-box-shadow: inset 6px 6px 5px #888;
  box-shadow: inset 6px 6px 5px #888;
}

.right{
  position: absolute;
  text-align: center;
  padding-top: 40px;
  right: 150px;
}

.top{
  width: 600px;
  height: 250px;
  border-radius: 50px;
  background-color: #C4DDF2;

}

#week {
  padding-top:15px;
  font-size: 40px;
  color: #f2f2f2;
  -webkit-text-stroke: 0.3px #739FD9;
  /* -moz-box-shadow: 6px 6px 5px #888;
  -webkit-box-shadow: 6px 6px 5px #888;
  box-shadow: 6px 6px 5px #888; */
}

.dot {
  font-size: 25px;
  color: #9298BA;
}

#li1, #li2, #li3 {
  padding: 5px;
}

.botleft{
  position: absolute;
  left: auto;
  text-align: center;
  width: 270px;
  margin-top: 25px;
  height: 170px;
  border-radius: 50px;
  background-color: #8FB6D9;
  border: 6px solid #8FB6D9;
}



#td {
  font-size: 35px;
  color: #f2f2f2;
}

#clr {
  font-size: 25px;
  color: #f2f2f2;
}
.botright{
  position: absolute;
  right: 5px;
  text-align: center;
  width: 270px;
  margin-top: 25px;
  height: 170px;
  border-radius: 50px;
  background-color: #F2F2F2;
  border: 6px solid #739FD9;
}
.date {
  font-size: 27px;
  color: #739FD9;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -50px;
}

.time {
  font-size: 35px;
  color: #739FD9;
  display: flex;
  margin-left: 100px;
  /* margin-bottom: 100px; */
}
